[run]
source =
    .

omit =
    # */.git/*
    */.gitignore
    */LICENSE
    */README*
    */requirements.txt
    */__init__.py
    */tests/*
    */test_*.py
    *tests.py

[report]
exclude_lines =
    # pragma: no cover
    # if __name__ == .__main__.:

[html]
# directory = htmlcov
